/*
font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.b {
  outline: 1px solid red;
}
.bg {
  background: red;
}
body {
  background: #eeeeee;
}
a {
  color: #009039;
}
.global_header {
  background: #009039;
  padding: 40px;
  color: #ffffff;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.6em;
}
.global_header .logo {
  padding-bottom: 30px;
  width: 140px;
  height: auto;
}
.global_header p {
  color: rgba(255, 255, 255, 0.8);
}
.global_body .column {
  padding: 60px 20px 40px 20px;
  text-align: center;
}
.global_body .column .icon {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}
.global_body .column h2 {
  color: #009039;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  margin-bottom: 20px;
}
.global_body .column p {
  font-size: 14px;
  line-height: 1.6em;
  color: #aaaaaa;
  font-family: 'Open Sans', sans-serif;
}
.global_more_details .row {
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  padding-top: 50px;
}
.global_more_details .row .column {
  margin-bottom: 50px;
}
.global_more_details .row h2 {
  color: #009039;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  margin-bottom: 20px;
}
.global_more_details .row p {
  font-size: 14px;
  line-height: 1.6em;
  color: #aaaaaa;
  font-family: 'Open Sans', sans-serif;
}
.global_footer .row {
  border-top: 1px solid #eeeeee;
  padding: 50px;
  text-align: center;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
}
.global_menu {
  display: none;
}
.menu_btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 3;
  width: 45px;
  height: 34px;
  opacity: .5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu_btn img {
  width: 45px;
  height: 34px;
}
.global_content {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.7);
  min-height: 100%;
  position: relative;
  z-index: 2;
  transform: translate3d(0, 0, 0);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
